[Unit]
Description=Generate user-brew folders
Before=gdm.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/user-brew/generate-brew-dirs
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
